<p id="notice"><%= notice %></p>

<h1>Listing Emploees</h1>

<table>
  <thead>
    <tr>
      <th>Emploee</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Start date</th>
      <th>Job</th>
      <th>Salary</th>
      <th>Manager</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emploees.each do |emploee| %>
      <tr>
        <td><%= emploee.emploee_id %></td>
        <td><%= emploee.first_name %></td>
        <td><%= emploee.last_name %></td>
        <td><%= emploee.start_date %></td>
        <td><%= emploee.job_id %></td>
        <td><%= emploee.salary %></td>
        <td><%= emploee.manager_id %></td>
        <td><%= emploee.department_id %></td>
        <td><%= link_to 'Show', emploee %></td>
        <td><%= link_to 'Edit', edit_emploee_path(emploee) %></td>
        <td><%= link_to 'Destroy', emploee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emploee', new_emploee_path %>
